.homepage_banner .swiper-pagination {
  bottom: 10% !important;
}

.homepage_banner .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: 0.6;
}

.homepage_banner .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%; /* Makes the div circular */
  position: relative;
  opacity: 1;
}

.homepage_banner .swiper-pagination-bullet-active::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: white; /* Inner circle color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.banner_oval_mask {
  -webkit-mask-image: url(/images/oval_mask.webp);
  mask-image: url(/images/oval_mask.webp);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.placeholder {
  background: url(/images/oval_mask.webp);
}

@media (min-width: 768px) and (max-width: 979px) {
  .banner_oval_mask {
    -webkit-mask-image: url(/images/oval_md_mask.webp);
    mask-image: url(/images/oval_md_mask.webp);
  }
  .placeholder {
    background: url(/images/oval_md_mask.webp);
  }
} 

@media screen and (max-width :1048px){
  .homepage_banner .swiper-pagination {
    bottom: 15% !important;
  }
  
}

@media screen and (max-width: 480px) {
  .banner_oval_mask {
    -webkit-mask-image: url(/images/oval_sm_mask.webp);
    mask-image: url(/images/oval_sm_mask.webp);
  }
  .placeholder {
    background: url(/images/oval_sm_mask.webp);
  }
  .homepage_banner .swiper-pagination {
    bottom: 5% !important;
  }
}

